@model TechnicianModel

@{
    ViewData["Title"] = "AssignShopTech";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string alert = ViewBag.AssignedTechSucess;

    if (alert != null)
    {
        <div class="callout success" data-closable>
            <h5>@alert</h5>
            <p>You can Redirect Back to Portfolio</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

}

<form id="forms1" asp-action="AssignShopTech" asp-controller="AutoPort" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">



            <div class="cell small-6">

                <span asp-validation-for="AssignedService" class="text-danger"></span>

                <label>
                    Select Services
                    <select id="combobox" class="serviceID" asp-for="AssignedService">
                        @foreach (var items in Model.ShopServices)
                        {
                            <option>@items.ServiceName</option>
                        }
                    </select>

                    @*<input asp-for="TechnicianDescription" />*@
                </label>
            </div>
            <div class="cell small-6">

                <span asp-validation-for="TechName" class="text-danger"></span>

                <label>
                    Assign Selected Technician
                    <select id="combobox" class="serviceID" asp-for="TechName">
                        @foreach (var item in Model.TechDbs)
                        {
                            <option>@item.TechnicianName</option>
                        }
                    </select>
                </label>
            </div>
            <div class="cell small-6">
                <button type="submit" class="button">Assign New Service To Tech</button>
            </div>
            <div class="cell small-6">

                <a asp-action="ShopPortfolio" asp-controller="AutoPort">Return To Shop-Portfolio</a>

                @*<a asp-action="ShopPortfolio" asp-controller="AutoPort" asp-route-id="@Model.UserCookie" asp-route-status="true">Return To Shop-Portfolio</a>*@
            </div>

        </div>
    </div>
</form>
