@model ServicesModel

@{
    ViewData["Title"] = "ShopServices";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string alert = ViewBag.ServiceSuccess;

    if (alert != null)
    {
        <div class="callout success" data-closable>
            <h3>@alert</h3>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<form id="forms1" asp-action="ShopServices" asp-controller="AutoPort" method="post">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">

            <div class="cell small-6">
                <label asp-for="ServiceName">
                    Enter Service Name
                    <input asp-for="ServiceName" />
                </label>
            </div>
            <div class="cell small-6">
                <label asp-for="ServiceCost">
                    Enter Service Cost
                    <input asp-for="ServiceCost" />
                </label>
            </div>
            <div class="cell small-6">
                <label>
                    Enter Service Description
                    <input asp-for="ServiceDescription" />
                </label>
            </div>
            <div class="cell small-6">
                <button type="submit" class="button">Add New Service</button>
                <a class="button" asp-controller="AutoPort" asp-action="ShopTech">Assign Service to Technician</a>
            </div>
            <div class="cell small-6">
                <a asp-controller="AutoPort" asp-action="ShopPortfolio">Return To Shop-Portfolio</a>
            </div>

        </div>
    </div>
</form>

