@model ListView

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

@{
    ViewData["Title"] = "Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string alert = ViewBag.VehSuccess;

    if (alert != null)
    {
        <div class="callout success" data-closable>
            <h5>Vehicle Successfully Added</h5>
            <p>You can Redirect Back to Portfolio</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

}


<form id="forms1" asp-action="Vehicle" asp-controller="UserPort" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">

            <div class="cell small-6">

                <span asp-validation-for="VehMake" class="text-danger"></span>

                <label asp-for="VehMake">
                    Select Your Make
                    <select id="combobox" class="makeID" asp-for="VehMake">
                        @foreach (var item in Model.Results)
                        {
                            <option>@item.MakeName</option>
                        }
                    </select>
                </label>

            </div>

            <div class="cell small-6">

                <span asp-validation-for="VehModel" class="text-danger"></span>

                <label id="vehModel" asp-for="VehModel">
                    Select Your Model
                    <select id="yourModels" asp-for="VehModel">
                    </select>
                </label>
            </div>
            <div class="cell small-6">

                <span asp-validation-for="VehMileage" class="text-danger"></span>

                <label>
                    Enter Your Vehicle Mileage
                    <input asp-for="VehMileage" />
                </label>
            </div>

            <div class="cell small-6">

                <span asp-validation-for="VehVinNum" class="text-danger"></span>

                <label>
                    Enter Your Vehicle Vin-Number
                    <input asp-for="VehVinNum" />
                </label>
            </div>
            <div class="cell small-6">

                <span asp-validation-for="VehYear" class="text-danger"></span>

                <label>
                    Enter Year Of Vehicle
                    <input asp-for="VehYear" />
                </label>
            </div>
            <div class="cell shrink">
                <button type="submit" class="button">Add Vehicle</button>
            </div>

        </div>
    </div>
</form>

<a class="button" asp-controller="UserPort" asp-action="UserPortfolio" asp-route-id="@Model.redirectID" asp-route-status="false"> Return To Portfolio </a>

<script>
    $("select.makeID").change(function () {

        var make = $(this).children("option:selected").val();

        var makeUrl = 'https://vpic.nhtsa.dot.gov/api/vehicles/getmodelsformake/' + make + '?format=json';

        $.ajax({
            url: makeUrl,
            type: "GET",
            dataType: "json",
            success: function (data) {
                $('#yourModels').empty();
                console.clear();
                $.each(data.Results, function (index, value) {
                    console.log(value.Model_Name);
                    $('#yourModels').append(new Option(value.Model_Name, value.Model_Name));
                });


            }
        });
    });

</script>